body {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	color: #000;
	min-width: 320px;
}

p {
	line-height: 150%;
}

@media (max-width: 500px){
	.banner-overlay h3 { 
	   color: white;
	   padding: 8px;
	   font-size: 18px;
	}
	body {
		min-width: 320px;
	}
}
@media (min-width: 501px) and (max-width: 911px) {
	.banner-overlay h3 { 
	   color: white;
	   padding: 14px;
	   font-size: 24px;
	}
	body {
		min-width: 500px;
	}
}

@media (min-width: 912px){
	.banner-overlay h3 { 
	   color: white;
	   padding: 60px 20px;
	   font-size: 30px;
	}
	body {
		min-width: 912px;
	}
}

.header-title {
    margin: 0 30px 0 0;
    letter-spacing: -1px;
}

.header-tagline {
    margin: 0 30px 0 0;
	font-size: 20px;
}

.banner-image {
	width: 100%;
	margin: 0;
}

.banner {
	position: relative;
	margin:0;
	padding:0;
}

.banner-overlay {
	position: absolute;
	top: 0;
	left:0;
	letter-spacing: -1px;
}

.header-left {
	text-align: right;
	background-color: #014225;
    color: #fff;
    padding:10px;
}

.header-left a {
	text-decoration: none;
	color:#fff;
}

.header-right {
    color: #014225;
}

body a {
    text-decoration: none;
    color: #000;
}

body a:hover {
    text-decoration: none;
    color: #586165;
}

.accent-link {
    color: #014225;
    text-decoration: none;
}

.accent-row {
    background-color: #014225;
    color:#fff;
    padding: 40px;
}

.content-row-top {
	padding: 20px 40px 0 40px;
}

.content-row {
	padding: 20px 40px 20px 40px;
}

.content-row-heading {
	margin:0;
	padding:0;
}
